# Agenda

What is Data Frames?
What is Data Series?
Different operation in Pandas

In [ ]:
#Importing Pandas and Numpy

import pandas as pd
import numpy as np

In [8]:
#Playing with dataframes

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['col1','col2','col3','col4'])

In [9]:
df.head()

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [15]:
##Test the data

In [14]:
df.to_csv('test.csv')

In [20]:
##Accessing the eliments
1.loc 2.iloc

In [21]:
df.loc['Row1']

col1    0
col2    1
col3    2
col4    3
Name: Row1, dtype: int32

In [22]:
type(df.loc['Row1'])

pandas.core.series.Series

In [18]:
df.iloc[0:3,0:3]

      col1  col2  col3
Row1     0     1     2
Row2     4     5     6
Row3     8     9    10

In [23]:
type(df.iloc[0:3,0:3])

pandas.core.frame.DataFrame

In [24]:
## Taking the elements from the column2

In [25]:
df.iloc[:,1:]

      col2  col3  col4
Row1     1     2     3
Row2     5     6     7
Row3     9    10    11
Row4    13    14    15
Row5    17    18    19

In [26]:
#convert DataFrames into arrays

In [27]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [29]:
df['col1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [31]:
df.iloc[:,1:].values.shape

(5, 3)

In [32]:
df.isnull()

       col1   col2   col3   col4
Row1  False  False  False  False
Row2  False  False  False  False
Row3  False  False  False  False
Row4  False  False  False  False
Row5  False  False  False  False

In [33]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [37]:
df['col1'].unique

<bound method Series.unique of Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: col1, dtype: int32>

In [38]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16])

In [39]:
#Accesing columns with Names than Indexes

In [40]:
df['col3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: col3, dtype: int32

In [41]:
df[['col3','col4']]

      col3  col4
Row1     2     3
Row2     6     7
Row3    10    11
Row4    14    15
Row5    18    19